<!-- Footer -->
<footer class="bg-dark text-center fixed-bottom">
    <!-- <div class="container"> -->
    <!-- Grid container -->

    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-light p-3 do-justify bg-dark">
    <div>
      <a class="text-light" href="https://www.website.com/">www.website.com</a>
      <div>© All rights reserved. Inspired codes ...</div>
    </div>
    <div class="do-justify-1">
        <a class="nav-link" href="#">Contact Us</a>
        <a class="nav-link" href="#">Rule And Policy</a>
    </div>
    </div>
    <!-- Copyright -->
    <!-- </div> -->
  
  </footer>
  <!-- Footer -->