.do-justify {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

.do-justify-1 {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-right: 100px;
}