// .navbar-nav {
//     margin-left: 450%;
// }

// .nav-item {
//     margin-right: 20%;
// }

.full-body {
    background-color: #EFF0F4;
}

.container {
    background-color: #fff;
}

.side-pane {
    border-right: 1px solid black;
}