
          <!-- <h3 class="heading">Bootstrap Product Grid</h3> -->
          <div class="container">
             <div class="row product">
               <div class="col-md-12" *ngIf="dunebookList.length == 0">
                  <h3>No Products Found</h3>
               </div>
                 <div *ngFor="let item of dunebookList" class="col-md-3">
                   <div class="card">
                     <div class="ccc">
                       <p class="text-center"><img [src]="item.image" class="imw"></p> 
<!--                               <div class="overlay">
                         <div class="text">View Details</div>
                       </div> -->
                     </div>
                     <div class="card-body">
                       <h5  class="text-center">{{ item.title }}</h5> 
                       <p  class="text-center">{{ item.price }}</p>
                       <p class="text-center"><input type="submit" name="Save" value="Buy" class=" cc1"></p>
                     </div>
                   </div>
                 </div>
             </div>
          </div>
